<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.augurit.agmobile.agwater5">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".AgWaterApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:roundIcon="${APP_ICON}"
        android:supportsRtl="true"
        android:theme="@style/AgWater5Theme"
        tools:replace="label">
        <activity android:name=".gcjs.home.NoticeDetailActivity"></activity>
        <activity android:name=".gcjs.home.MainNoticeActivity" />
        <activity
            android:name=".login.LoginMainActivity"
            android:theme="@style/FullNullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="APP_PKG_KEY"
            android:value="${PKG_VALUE}" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.6" /> <!-- 即时通讯离线推送证书id -->
        <meta-data
            android:name="im_hw_push_buzid"
            android:value="5943" />
        <meta-data
            android:name="im_mi_push_buzid"
            android:value="5944" />

        <activity
            android:name=".LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullTheme" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/FullNullTheme"
            android:windowSoftInputMode="adjustResize" /> <!--  -->
        <activity
            android:name=".mine.SkinSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MyOrgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.SelfProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.BaseWebViewActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <service android:name="com.augurit.agmobile.busi.common.auth.AuthTaskService" />

        <activity
            android:name="com.augurit.agmobile.busi.common.auth.AuthDialogActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTransparent" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="k6XRRUK8kVeRp0f1XONiOr4kuo88L1cd" /> <!-- 7vg6gmhGkvDmzPhw54bfG3LNmFSwiWcQ -->
        <!-- 百度语音 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="14239250" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="OmQQ2zTx3zYU5amCGcM3ZxYf" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="zTWxG46vMm1XCgMNfNjLqS9Wevpcljl4" /> <!-- <meta-data -->
        <!-- android:name=".common.glide.MyGlideModule" -->
        <!-- android:value="GlideModule" /> -->
        <!-- 工程建设 -->
        <activity
            android:name=".gcjs.publicaffair.GcjsPublicAffairActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.publicaffair.GcjsPublicAffairDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.EventApprovalActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.publicaffair.WatchImageOrPdfActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.EventListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.ReceiptListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.ResultGoodsMaterialsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".mine.MineActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.bszn.BsznActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.bszn.BsznDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.SendNextLinkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.gzcn.GzcnActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.gzcn.GzcnDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.serach.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.AccessoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.common.webview.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.PwpfAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.SendNextLinkFormActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".im.AddressBookActivity" />
        <activity
            android:name=".gcjs.announce.AnnounceDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.announce.AnnounceListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.msg.MsgListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.msg.MsgDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".im.announce.AnnounceChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".im.msg.MsgChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.zcfg.ZcfgActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.MaterialCorrectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.MaterialDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.TscxDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.ClbzDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.ZjzzAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.OtherResultAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjspad.MainPadActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".gcjspad.CustomFileOpenViewActivity" />
        <activity
            android:name=".gcjs.zcfg.ZczyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.TransferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".gcjs.eventlist.view.PersonSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>